# Binary text files
#*.xl
# Reverted cause inconvenient for CI and cloning. Only change when translation is
# updated anyways
# Temporary files
*.tmp
*.DS_Store
*Thumbs.db

# Work files (stuff we don't want to share with one another)
*.scn
*.psd
