ASSETS/*.obj filter=lfs diff=lfs merge=lfs -text
ASSETS/*.dae filter=lfs diff=lfs merge=lfs -text
ASSETS/*.ttf filter=lfs diff=lfs merge=lfs -text
ASSETS/*.otf filter=lfs diff=lfs merge=lfs -text
ASSETS/*.wmv filter=lfs diff=lfs merge=lfs -text
ASSETS/*.ogv filter=lfs diff=lfs merge=lfs -text
ASSETS/*.ogg filter=lfs diff=lfs merge=lfs -text
ASSETS/*.wav filter=lfs diff=lfs merge=lfs -text
ASSETS/*.jpg filter=lfs diff=lfs merge=lfs -text
ASSETS/*.png filter=lfs diff=lfs merge=lfs -text
