# Useless system files
*.tmp
*.DS_Store
*Thumbs.db
*.icloud
*.swp
*.swo

# Work files (stuff we don't want to share with one another)
*.scn
*.psd
*.kra

# Work directories
.import

# Temporarily adding stuff here before pushing it
